@charset "UTF-8";

// 本頁專用變數(覆蓋)
// ------------------------------------------------------------
$isPage:                 true;

$headings-line-height:   1.2;
$link-transition:        '.35s';

$font-size-h1:           46px;
$font-size-h2:           42px;
$font-size-h3:           27px;

// import
// ------------------------------------------------------------
@import "_client/variables"; // 前台用變數(置頂)

@import "core/function";
@import "core/variables";
@import "core/mixins";

// 由此 output css
@import "vendor/normalize";  // 重置樣式
@import "vendor/print";      // 列印樣式

@import "_client/base/basic";
@import "_client/base/link";
@import "_client/base/type";
@import "_client/base/table";
@import "_client/base/form";

@import "_client/layout";
@import "_client/modules/nav";
@import "_client/modules/btn";
@import "_client/modules/btn-group";
@import "_client/modules/label";
@import "_client/modules/field";
@import "_client/modules/figure";
@import "_client/modules/loader";
@import "_client/modules/tooltip";

@import "_client/util"; // 建議放置在最後一個


// main
// ------------------------------------------------------------

#main {
    text-align: left;
    word-break: break-all;
}

// == common

// breadcrumb
.breadcrumb {
    @extend %list-unstyled;
    margin: 15px 0 0 0;
    float: right;
    font-size: em(12px);
    color: #466c75;

    a {
        color: #8ca8af;
    }

    li {
        display: inline-block;

        &:not(:last-child) {

            @include el(after, false, '/') {
                margin: 0 4px;
                color: #8ca8af;
            }
        }
    }

    @include mq-max(break(tablet,-1)) {
        margin: 0 0 $spacer*1.5 0;
        padding-bottom: $spacer*0.5;
        float: none;
        border-bottom: 1px solid #aebcbf;
    }
}

// title
h3.title {
    margin: 0 0 $spacer*2 0;
    padding-bottom: $spacer;
    font-size: em(32px);
    color: #000;
    border-bottom: 1px solid #aebcbf;
    @include clearfix;

    span {
        letter-spacing: 0;
        font-weight: 300;
        font-style: italic;
        font-size: em(24px, 32px);
        color: #6cb1c4;
    }

    @include mq-max(break(desktop,-1)) {
        padding-bottom: $spacer*0.75;
        font-size: em(28px);
    }

    @include mq-max(break(tablet,-1)) {
        display: none;
    }
}

// thumbnail
.thumbnail {
    border: 1px solid #ddd;
    padding: $spacer/2;
    position: relative;

    @at-root img#{&}, img {
        max-width: 100%;
    }

    &-link {
        display: block;
        color: #fff;

        @include el(all) {
            position: absolute;
            opacity: 0;
        }
        &::before {
            left: $spacer/2;
            right: $spacer/2;
            top: $spacer/2;
            bottom: $spacer/2;
            background: rgba(#000, 0.3);
            transition: opacity 0.5s;
        }
        &::after {
            content: "Read more";
            left: $spacer*2;
            top: 70%;
            font-size: em(20px);
            font-weight: 300;
            font-style: italic;
            text-transform: uppercase;
            text-shadow: 0 0 5px rgba(#000, 0.5);
            transition: opacity 1s, top 1s;

            @include mq-max(break(phone,-1)) {
                left: $spacer;
                font-size: em(16px);
            }
        }

        img { height: auto; }

        &:hover, &:active, &:focus {
            color: #fff;

            &::before, &::after {
                opacity: 1;
            }
            &::after {
                top: 55%;

                @include mq(desktop, break(wide,-1)) {
                    top: 52%;
                }
                @include mq-max(break(phone,-1)) {
                    top: 60%;
                }
            }
            .thumbnail-title {
                top: 40%;

                @include mq-max(break(phone,-1)) {
                    top: 32%;
                }
            }
        }
    }

    // 標題
    &-title {
        width: 100%;
        padding: 0 $spacer*2;
        position: absolute;
        left: 0;
        top: 45%;
        transform: translateY(-50%);
        font-size: em(30px);
        text-shadow: 0 0 7px rgba(#000, 0.7);
        transition: top 0.5s;

        @include el(after) {
            height: 1px;
            margin-top: $spacer*0.5;
            background: #fff;
            box-shadow: 0 0 5px rgba(#000, 0.5);
        }

        @include mq-max(break(wide,-1)) {
            font-size: em(26px);
        }
        @include mq(tablet, break(desktop,-1)) {
            font-size: em(30px);
        }
        @include mq-max(break(phone,-1)) {
            padding: 0 $spacer;
            font-size: em(22px);
        }
    }

    // 產品圖
    &-pic {
        height: 230px;
        overflow: hidden;

        img {
            max-width: auto;
            min-height: 100%;
        }
    }
}

// 不換行
.text-nowarp {
    white-space: nowrap;
}

// 無圖時
.none {
    background-color: darken($muted, 20);
    // border: 1px solid lighten($muted, 4);
    color: darken($muted, 10);
    position: relative;

    i, svg {
        @extend .font-jumbo;
        @include center;
    }
}

// section
.section {
    margin-bottom: $spacer*2;
    padding-left: $spacer;

    h4.title {
        min-height: 54px;
        margin-top: 0;
        margin-left: -$spacer;
        padding: 10px 0 0 60px;
        position: relative;
        vertical-align: middle;
        font-size: em(24px);
        font-weight: bold;

        em {
            display: block;
            @include circle(54px, center);
            position: absolute;
            left: 0;
            top: 0;
            line-height: 54 - 8px;
            font-size: em(32px, 24px);
            font-style: normal;
            font-weight: normal;
            color: #fff;
            border: 4px solid #fff;
            box-shadow: 0 0 1px #999;
        }
    }
    &:nth-of-type(4n+1) h4.title {
        color: #a8a566;
        em {
            background: #deda87;
        }
    }
    &:nth-of-type(4n+2) h4.title {
        color: #c26f4c;
        em {
            background: #db997d;
        }
    }
    &:nth-of-type(4n+3) h4.title {
        color: #785d56;
        em {
            background: #99827d;
        }
    }
    &:nth-of-type(4n+4) h4.title {
        color: #92946c;
        em {
            background: #c1c4a5;
        }
    }

    @include mq-max(break(desktop,-1)) {
        h4.title {
            min-height: 46px;
            padding: 10px 0 0 58px;
            font-size: em(22px);
            em {
                @include circle(46px);
                font-size: em(28px, 22px);
                line-height: 46 - 8px;
            }
        }
    }
}

// == Page
.AboutUs, .Plan, .Trust {
    @include mq-max(break(tablet,-1)) {
        [class*="col"]:last-child {
            margin-top: $spacer;
        }
    }
}

//== AboutUs
.AboutUs {
    #content p {
        font-size: em(20px);
    }

    @include mq-max(break(desktop,-1)) {
        #content p {
            font-size: em(18px);
        }
    }
}

// == Service
.Service {
    @include mq-max(break(desktop,-1)) {
        [class*="col"]:last-of-type {
            margin-top: $spacer;
        }
    }
}

// == Contact Us
.ContactUs {
    .map {
        width: 100%;
        height: 300px;
    }

    h4.title {
        margin-top: 0;
        color: $brand-secondary;
        font-weight: bold;

        span {
            margin-left: 8px;
            font-weight: 300;
            color: desaturate($brand-secondary, 20);
            text-transform: uppercase;
        }
    }

    #content li {
        font-size: em(20px);
    }

    @include mq-max(break(desktop,-1)) {
        [class*="col"]:last-child {
            margin-top: $spacer;
        }
    }

    @include mq-max(break(tablet,-1)) {
        #content li {
            font-size: em(18px);
        }
    }

    @include mq-max(break(phone,-1)) {
        h4.title {
            span {
                display: block;
                margin: 0;
                @include rem('font-size', 20);
            }
        }
    }
}

// == Public
.gallery {

    li {
        margin: 10px 4px 10px 8px;
        vertical-align: top;
    }

    a {
        display: block;
        width: 183px;
        position: relative;
        text-align: center;

        &::before, [class*="fa-"] {
            position: absolute;
            opacity: 0;
            transition: opacity 0.75s;
        }

        &::before {
            content: " ";
            display: block;
            width: calc(100% - 18px);
            height: 250 - 18px;
            left: 50%;
            top: 9px;
            transform: translateX(-50%);
            background: rgba(#000,0.3);
            z-index: 1;
        }

        [class*="fa-"] {
            left: 50%;
            top: 115px;
            font-size: em(24px);
            color: #fff;
            text-shadow: 0 0 5px #000;
            transform: translate(-50%, -50%);
            z-index: 2;
        }

        .thumbnail {
            width: 100%;
            height: 250px;
            margin: 0 auto;
        }

        figcaption {
            max-height: 3em;
            margin-top: $spacer*0.5;
            font-size: em(15px);
            word-wrap: break-word;
            overflow: hidden;
        }

        &:hover, &:active {
            &::before, [class*="fa-"] {
                opacity: 1;
            }
        }
    }

    @include mq-max(break(desktop,-1)) {
        a {
            width: 150px;

            &::before {
                height: 205px - 18px;
            }
            [class*="fa-"] {
                top: 100px;
            }
            .thumbnail {
                height: 205px;
            }
        }
    }

    @include mq-max(break(phone-plus,-1)) {
        li {
            margin: 8px 4px 8px 8px;
        }

        a {
            width: 130px;

            &::before {
                height: 178px - 12px;
            }
            [class*="fa-"] {
                top: 100px;
            }
            .thumbnail {
                height: 178px;
                padding: 5px;
            }
            figcaption {
                margin-top: 4px;
                font-size: em(14px);
            }
        }
    }
}

// == Team
.Team {

    .form-inline {
        input[type="text"] {
            width: 300px;
        }
    }

    table {
        border-spacing: 1px;
        border-collapse: separate;
    }

    @include mq-max(break(phone-plus,-1)) {
        .form-inline {
            select, input[type="text"] {
                display: block;
                width: 100%;
                margin-bottom: $spacer;
            }
            .btn {
                display: block;
                margin: 0 auto;
            }
        }
    }
}

// == Flow 服務流程介紹

$flow-item-w:        160px;
$flow-item-bd:       3px;
$flow-line-rs:       12px;
$flow-line-h:        72px;
$flow-item-space:    $flow-item-w/1.6;
$flow-shadow:        2px 2px 4px rgba(#000, .3);

// 流程圖-線段樣式
%round-corner {
    @include el(before) {
        position: absolute;
        left: 50%;

        border: 0 solid #fff;
        border-color: #ddd\0; // ie fix
        height: $flow-line-h;

        @include prefix(filter, drop-shadow(1px 1px 2.5px rgba(#000,.5)), webkit);
    }
}

// 流程圖
.process {
    // sheet 階段
    .sheet {
        position: relative;
        min-height: $flow-line-h + 30;
    }

    // 1 to 2
    .one-two {
        @extend %round-corner;

        &::before {
            @include mq(tablet) {

                width: ($flow-item-space + $flow-item-bd)*2 + $flow-item-w;
                top: 35px;
                // top right left
                border-width: $flow-item-bd $flow-item-bd 0 $flow-item-bd;
                border-top-right-radius: $flow-line-rs;
                border-top-left-radius: $flow-line-rs;

                @include transform(translateX(-50%));
            }

            @include mq-max(break(tablet, -1)) {
                top: 51px;
                border-left-width: $flow-item-bd;
            }
        }
    }
    .two-one {
        @include mq-max(break(tablet, -1)) {
            display: none;
        }
    }
}

// 仿顏體
@font-face {
    font-family: 'I Ngaan';
    src: url(../font/I.Ngaan.ttf) format('truetype');
}
.sheet-item {
    @extend .text-white, %round-corner, .px-12;

    display: inline-block;
    min-width: $flow-item-w;
    position: relative;
    z-index: 2;

    border-radius: em(24);
    border: $flow-item-bd solid #fff;
    box-shadow: $flow-shadow;
    background-color: #003856;

    font: normal #{em(30)}/1.5 'I Ngaan', '明暸體', 'Meiryo', Georgia, sans-serif;

    // 按鈕類
    @at-root a#{&} {
        &:hover, &:active {
            @extend .bg-secondary, .text-white;
        }
    }

    // 1 to 1
    .one-one & {
        &::before {
            top: 100.5%;
            border-left-width: $flow-item-bd;
        }
    }

    @include mq(tablet) {
        // 2 to 1
        .two-one & {
            margin: 0 $flow-item-space;

            &::before {
                width: $flow-item-space + ($flow-item-bd*2);
                top: 100.5%;
            }
            &.first::before {
                // left bottom
                border-width: 0 0 $flow-item-bd $flow-item-bd;
                border-bottom-left-radius: $flow-line-rs;
            }
            &.last::before {
                // bottom right
                border-width: 0 $flow-item-bd $flow-item-bd 0;
                border-bottom-right-radius: $flow-line-rs;
                margin-left: -($flow-item-space + $flow-item-bd);
            }
        }
    }
}

// sheet按鈕
button.sheet-item,
[data-dropdown="btn"] {
    @include transition(.35s);
}

// sheet按鈕-下拉選單
[data-dropdown="btn"] {
    @include mq-max(break(desktop, -1)) {
        cursor: pointer;

        &:hover, &:active {
            background: color(secondary);
        }
    }
}

// 說明的線段
.line {
    @include absolute(left 50% top 26.5px);

    @include mq(desktop) {
        border-top: $flow-item-bd solid #fff;
        border-color: #ddd\0; // ie fix
        z-index: 1;

        @include prefix(filter, drop-shadow(1px 1px 2.5px rgba(#000,.5)), webkit);

        // 右邊說明文字
        .note.right + & {
            @include transform(translateX($flow-item-w/2));
        }
        .two-one .note.right + & {
            @include transform(translateX( $flow-item-space*1.8 + ($flow-item-w/2) ));
        }

        // 左邊說明文字
        .note.left + & {
            @include transform(translateX(-120%));
        }
        .two-one .note.left + & {
            @include transform(translateX(-210%));
        }
    }
}

@include mq-max(break(desktop, -1)) {
    .contact-free, .note{
        display: none;

        top: 74px;

        transform: translateX(-50%);
        z-index: 88;

        @include el(before) {
            transform: translateX(-50%);

            @include caret(up, 12px, $color: #222);
            @include absolute(top -12px left 50%);
        }
    }
}

// 右邊的說明
.note {
    @extend .font-md;

    color: #222;
    font-weight: bold;
    line-height: 1.6;
    white-space: nowrap;

    list-style-position: inside;

    @include absolute(left 50%);

    @include mq(desktop) {
        top: -5%;

        // 右邊的說明
        &.right {
            margin-left: $flow-item-space*2.5;

            .two-one & {
                margin-left: ($flow-item-space*2.5) + $flow-item-space;
            }
        }
        // 左邊的說明
        &.left {
            margin-left: -($flow-item-space*4.5);
        }
    }

    @include mq-max(break(desktop, -1)) {
        padding: 8px 16px;

        background-color: #222;
        // border-radius: 12px;
        // box-shadow: $flow-shadow;
        color: #fff;
    }
    @include mq(tablet, break(desktop, -1)) {
        .two-one &.right {
            margin-left: ($flow-item-space*1.85);
        }
    }
}

// 24小時服務
.contact-free {
    $bg: #fadce9;

    @extend .font-xl, .text-left;

    padding: 12px 12px 12px 72px;

    border-radius: 8px;
    box-shadow: $flow-shadow;
    background: $bg url(#{$img-path}/flow-icon.gif) 10px center no-repeat;
    color: #b6003d;
    line-height: 1.35;
    letter-spacing: .05em;

    @include absolute(left 50%);

    // 行動版時指引箭頭
    &::before {
        border-bottom-color: $bg;
    }

    dt { @extend .font-lg; }
    dd { font-weight: bold; }

    + .line {
        border-color: $bg;

        @include transform(translateX(-120%));
    }

    @include mq(desktop) {
        margin-left: -($flow-item-space*4.5);
        top: -5%;
    }
}

.modal {
    width: 80%;
    max-width: 1020px;

    img {
        max-width: 100%;
    }

    // footer
    &-footer {
        @extend .py-12, .mt-32, .text-center;

        border-top: 1px solid rgba(#fff, .2);

        @include fixed(left 0 bottom 0 right 0);
    }

    &-text {
        @extend .text-white, .font-md, .p-12;

        background: #222 !important;
    }
}


// == editor
.editor {
    @extend .mt-32;
    word-wrap: normal;
    word-break: break-all;

    img {
        max-width: 100% !important;
    }

    ol, ul {
        @extend .ml-24;
    }
}