@using OutWeb.Repositories
@using OutWeb.Models.Manage.ProductModels
@model ProductDetailsDataModel
@{
    ViewBag.BodyClass = "Products";
    ViewBag.Title = "保健食品";
    ViewBag.TitleEn = "Healthy Food";
    ViewBag.Breadcrumb = Model.Data.PRODUCT_NAME; @* 產品名稱 *@
}

@section breadcrumb {
    <li><a href="~/Products">保健食品</a></li>
}
<h3 class="title">@ViewBag.Breadcrumb</h3>

<div class="editor mb-48 editor-pc">
    @Html.Raw(Model.Data.CONTENT)
</div>

<div class="editor mb-48 editor-m">
    @Html.Raw(Model.Data.CONTENT_MOBILE)
</div>

<nav class="text-center">
    <a href="~/Products" class="btn sm">回列表 BACK</a>
</nav>