@using OutWeb.Models.FrontEnd.WorksFrontEndModels
@model WorksFrontEndDataModel
@{
    ViewBag.Title = "案例分享";
    ViewBag.BodyClass = "Works";
}

<h1 class="title"><span class="underline">@ViewBag.Title</span></h1>

<div class="wrap row">
    <aside class="col-7 work-img">
        <section class="swiper-container gallery">
            <main class="swiper-wrapper">
                @foreach (var data in Model.OtherImagesData)
                {
                    <div class="swiper-slide"><img src="~/@data.FileUrl" alt="案例大圖"></div>
                }
            </main>
            <div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-button-prev swiper-button-white"></div>
        </section>
        <section class="swiper-container thumbs">
            <main class="swiper-wrapper">
                @foreach (var data in Model.OtherImagesData)
                {
                    <div class="swiper-slide"><img src="~/@data.FileUrl" alt="案例大圖"></div>
                }
            </main>
        </section>
    </aside>

    <article class="col-5 pl-32 text-left">
        <span class="date">2017/09/25</span>
        <header class="font-xxl">@Model.WorksTitle</header>
    </article>
</div>

@* 下面是編輯器內容，有資料的話才顯示*@
<div class="wrap clearfix editor text-left">
    @Html.Raw(Model.Content)
</div>
<footer class="text-center mt-32">
    <a href="~/Works" class="btn lg">回列表</a>
</footer>

@section scripts {
    <script>
        var gallery = new Swiper('.gallery', {
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            spaceBetween: 10,
        });
        var thumbs = new Swiper('.thumbs', {
            spaceBetween: 10,
            centeredSlides: true,
            slidesPerView: 'auto',
            touchRatio: 0.2,
            slideToClickedSlide: true
        });
        gallery.params.control = thumbs;
        thumbs.params.control = gallery;
   </script>
}