@using OutWeb.Models.Manage.AgentModels
@model AgentDataModel
@{
    ViewBag.Title = "代理商";
    ViewBag.BodyClass = "Agents";
}

<h1 class="title"><span class="underline">@ViewBag.Title</span></h1>

@*下面是編輯器內容，有資料的話才顯示*@
<div class="wrap clearfix editor text-left">
    @if (Model != null)
    {
        @Html.Raw(Model.Content)
    }
</div>
