@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyClass = "AboutUs";
    ViewBag.Title = "公司簡介";
    ViewBag.TitleEn = "About Us";
    ViewBag.Breadcrumb = ViewBag.Title;
}

<h3 class="title">
    @ViewBag.Title
    <span>@ViewBag.TitleEn</span>
</h3>

<div class="row row-x0">
    <div class="col-md-7 col-sm-8">
        <p><strong class="text-secondary mr-4">儀禮科技公司</strong>顛覆集團壟斷生前契約之市場機制，遏止生前契約以多層次傳銷方式銷售，使生前契約可以正常的<strong class="text-primary">市場化</strong>、<strong class="text-primary">自由化</strong>，避免消費者不必要之花費，提供給社會大眾全台最優質的禮儀團隊。讓人生最後一場謝幕<strong class="text-primary">以莊嚴善待死亡</strong>，<strong class="text-primary">以消費者的立場為出發點</strong>，設計規劃出溫馨且莊嚴的生命告別儀式。</p>
        <p>本公司致力於提升服務水準，注入溫馨、體貼與感性的理念，不但力求改善喪葬禮儀習俗，節約喪家浪費，同時也是現代化及未來喪葬之趨勢。</p>
    </div>
    <div class="col-md-5 col-sm-4">
        <img src="~/Content/images/AboutUs/pic1.jpg" alt="" class="thumbnail">
    </div>
</div>