@charset "UTF-8";

// overlay
.modal {
    z-index: z(overlay);
    overflow: auto;
    display: none;

    padding-top: $modal-top;;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);

    @include fixed(left 0 top 0);
    @include size(100%);

    @if $enable-RWD {
        @include mq-max(break(phone,-1)) {
            padding-top: 5%;
        }
    }

    &.in { display: block; }

    // 內容區塊
    &-container {
        @extend .bg-black, .text-white;

        margin: auto;
        position: relative;
        max-width: 1020px;
        width: 90%;

        img {
            max-width: 100%;
        }
    }

    // header
    &-header {
        @extend .font-xl, .py-8, .px-12, .mb-32;
    }

    // footer
    &-footer {
        @extend .py-12, .mt-32, .text-center;

        border-top: 1px solid rgba(#fff, .2);
    }

    // close btn
    &-close {
        @extend .text-white;

        float: right;

        background-color: transparent;
        line-height: 22px;

        @include rem('font-size', $modal-close-size);
        @include transition(.35s ease-in);

        &:hover, &:focus {
            @extend .text-info;
            cursor: pointer;
        }
    }
}

// 特效
.animate-top {
    position: relative;

    @include diy-animate(slide-down, .4s) {
        from { top: -300px; opacity: 0; }
        to   { top: 0; opacity: 1; }
    }
}