@charset "UTF-8";

// == 主選單
// ------------------------------------------------------------

#menu {
    z-index: z(menu);

    > a {
        display: inline-block;
        height: 100%;
        position: relative;
        color: #fff;
        letter-spacing: 0.05em;
        font-weight: bold;

        @include rem('font-size', 20px);

        @include mq-max(break(wide,-1)) {
            @include rem('font-size', 17px);
        }

        &.product {
            background-color: rgba(darken(color(success), 9), .8);
        }
        &:hover, &:active, &.current {
            background-color: rgba($brand-primary, 0.8);
        }

        @if $isIndex {
            text-shadow: 0 0 3px rgba(#000, 0.7);
            line-height: 60px;
            width: (100% / 8);
            margin: 0 -2px;

            @include mq-max(break(wider,-1)) {
                padding: 0 25px;
            }
            @include mq-max(break(wide,-1)) {
                padding: 0 18px;
            }

            &:first-of-type {
                border-radius: 30px 0 0 30px;
            }
            &:last-of-type {
                border-radius: 0 30px 30px 0;
            }
        }
        @if $isPage {
            text-shadow: 0 0 3px rgba(#000, 0.5);
            line-height: 70px;
            padding: 0 18px;

            @include mq-max(break(wider,-1)) {
                padding: 0 10px;
            }
            @include mq-max(break(wide,-1)) {
                padding: 0 8px;
                line-height: 60px;
            }
        }
    }

    // 子選單
    @if $sub-nav-has {
        @extend %list-unstyled;

        li {
            @include mq($mobile-menu-bk) {
                display: inline-block;
                vertical-align: top;
            }
            // 子選單顯示
            &:hover, &:active {
                .sub-nav {
                    opacity: 1;
                    visibility: visible;

                    // 本次專案
                    @include mq($mobile-menu-bk) {
                        top: 100%;
                    }
                    @include mq-max(break($mobile-menu-bk,-1)) {
                        height: auto;
                    }
                }
            }
        }
        .sub-nav {
            display: none;
            opacity: 0;
            visibility: hidden;

            // 本次專案
            @extend .bg-muted, .pt-32, .py-48;
            @include transition(opacity .5s, top .35s);

            @include mq($mobile-menu-bk) {
                @include absolute(top 50px left 0 right 0);
            }
            @include mq-max(break($mobile-menu-bk,-1)) {
                height: 0;
                margin-left: 36px;
            }

            a {
                line-height: 1.25;

                display: block;
                float: left;
                width: 48%;
                border-bottom: 1px solid darken($muted,5);

                @extend .mb-4, .pb-4;
                @include rem('font-size', 17px);

                &:hover, &:active, &.current { text-decoration: underline; }
            }
        }
    }

    // 本次專案
    margin-bottom: $spacer*3;

    @include mq-max(break(wide,-1)) {
        margin-bottom: $spacer*2;
    }

    @include mq-max(break(desktop,-1)) {
        margin-bottom: 0;
    }

    @include mq($mobile-menu-bk) {
        float: right;

        .mobile-show { display: none; }

        @if $isIndex {
            height: 60px;
            float: none;
            background: rgba($brand-primary, 0.8);
            box-shadow: -5px 5px 10px rgba(#000, 0.2);
            border-radius: 30px;
        }
    }

    // 行動版選單
    @include mq-max(break($mobile-menu-bk,-1)) {
        z-index: z(overlay);

        @include fixed(bottom 0 top 0 left 0);
        @if $mobile-menu-bg    { background: $mobile-menu-bg; }
        @if $mobile-transition { @include transition($mobile-transition); }

        overflow-y: auto;
        width: $mobile-menu-width;
        visibility: hidden;
        opacity: 0;

        // 本次專案
        padding-top: $header-mobile-height + 12;

        > a {
            display: block;
            width: 150px;
            height: auto;
            margin: 10px auto;
            padding: $spacer*0.75 0;
            line-height: 1;

            &:hover, &:active, &.current {
                background: none;
                border: 1px solid;
                border-width: 0 0 1px 0;
            }
        }

        .js-mobile-body & {
            opacity: 1;
            visibility: visible;
        }
    }
}

@if $mobile-menu-has {

    // body
    .js-mobile-body {
        overflow-y: hidden;
    }

    // == mobile-toggle
    .mobile-toggle {
        display: none;
        background: none;
        position: relative;
        cursor: pointer;
        z-index: z(overlay) + 1;

        @include transition(.3s);

        @include mq-max(break($mobile-menu-bk,-1)) {
            display: block;
        }

        // 本次專案
        @extend .pull-left, .text-white;

        height: $header-mobile-height;
        margin: 0 $spacer*0.75 $spacer*1.75 0;
        margin-top: 5px;
        padding: 0 6px;
        font-size: em(20px);
        border: 1px solid;

        &:focus { outline: none; }
        &:active, &.active {
            background: rgba(#000, 0.3);
        }

        @if $isIndex {
            margin: 0;
            padding: 0 12px;
            position: absolute;
            left: 50%;
            top: 10px;
            transform: translateX(-350px);
            background: rgba($brand-primary, 0.8);
            border: 0;
            border-radius: 18px;

            @include el(after, inline-block, "MENU") {
                margin-left: 5px;
            }
        }
    }

    @include mq-max(break(tablet,-1)) {
        .mobile-toggle {
            @if $isIndex {
                top: 8px;
                transform: translateX(-310px);
            }
        }
    }

    @include mq-max(break(phone-plus,-1)) {
        .mobile-toggle {
            height: 30px;
            margin-bottom: $spacer*1.5;
            font-size: em(16px);

            @if $isIndex {
                top: 8px;
                transform: translateX(-260px);
                border-radius: 15px;
            }
        }
    }

    @include mq-max(break(phone,-1)) {
        .mobile-toggle {

            @if $isIndex {
                top: 6px;
                transform: translateX(-175px);
            }
        }
    }
}

