@charset "UTF-8";

$tooltip-bg: rgba(#000, .85) !default;

//
// tooltip
// --------------------------------------------------

.tooltip {
    cursor: pointer;
    position: relative;
    display: inline-block;

    .tips {
        @extend .text-white, .px-8, .py-4;

        z-index: z(tooltip);
        display: block;
        visibility: hidden;
        opacity: 0;
        min-width: 100%;

        background-color: $tooltip-bg;
        font-weight: normal;

        @include absolute(bottom 100% left 50%);
        @include transition(.35s ease-out);
        @include transform(translateX(-51.5%));

        @include el(after) {
            @include absolute(top 100% left 50%);
            @include arrow(down, 18px, 10px, $tooltip-bg);
            margin-left: -5px;
        }
    }

    &:hover, &:active, &:focus {
        .tips {
            visibility: visible;
            opacity: 1;
            bottom: 105%;
        }
    }
}