@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyClass = "Plan";
    ViewBag.Title = "生前契約";
    ViewBag.TitleEn = "Funeral Planning";
    ViewBag.Breadcrumb = ViewBag.Title;
}

<h3 class="title">
    @ViewBag.Title
    <span>@ViewBag.TitleEn</span>
</h3>

<section class="section row row-x0">
    <div class="col-md-8 col-sm-7">
        <h4 class="title">
            <em>1</em>
            生前契約簡介
        </h4>
        <p>以契約訂定方式、用合理的價格及專業化的服務團隊，完成圓滿生命中的最後一哩路。</p>
        <p>在生前即預約規劃身後的禮儀服務，補足保險不足之處及結合儲蓄的觀念，所訂定的預約服務契約就叫『生前契約』。</p>
        <p>讓社會大眾更能以正面積極的態度，豁達地面對生死問題，迎接人生必然的最終旅程。讓往生者有尊榮地走完人生最後一程，且讓家屬們免於擔心害怕於事發時的徬徨無助，節省不必要花費，規劃簡明、莊嚴、完善之告別禮儀，避免親人在悲慟之餘忍受繁雜禮儀事務的二次傷害。</p>
    </div>
    <aside class="col-md-4 col-sm-5">
        <img src="~/Content/images/Plan/pic1.jpg" alt="" class="thumbnail">
    </aside>
</section>

<section class="section">
    <h4 class="title">
        <em>2</em>
        生前契約之優點
    </h4>
    <ol class="list-unstyled list-underline">
        <li>一、生前契約具抗通膨功能；亦可隨時變現。並可自由轉讓或指定他人使用。</li>
        <li>二、生前契約更是與壽險、醫療險相同重要之個人必須規劃且必備的人生最重要的一張契約。</li>
        <li>三、依照殯葬管理條例 (92年7月1日將「生前契約」納入管理並合法化)及信託法之規定，將每一筆契約提撥契約款總價的75%交付信託，信託款運用範圍嚴格控管，以確保顧客的權益。</li>
    </ol>
</section>

<section class="section row row-x0">
    <div class="col-md-8 col-sm-7">
        <h4 class="title">
            <em>3</em>
            如何辨別合法生前契約
        </h4>
        <ol class="list-unstyled list-underline">
            <li>一、「具備殯葬禮儀服務能力的殯葬服務業」</li>
            <li>二、「資本額三千萬元」</li>
            <li>三、「最近三年內平均稅後損益無虧損」</li>
            <li>四、「服務範圍內有專任服務人員」</li>
            <li>五、業者應將75%的預收費用交付信託</li>
        </ol>
    </div>
    <aside class="col-md-4 col-sm-5">
        <img src="~/Content/images/Plan/pic2.jpg" alt="" class="thumbnail">
    </aside>
</section>

<section class="section">
    <h4 class="title">
        <em>4</em>
        內政部民政司 生前契約業者查詢
    </h4>
    <p>
        <a href="https://mort.moi.gov.tw/frontsite/search/companyPublishAction.do?method=viewCompanyList&isPublish=true&siteId=MTAx&subMenuId=403" target="new">
            按此查詢 (另開新視窗)
        </a>
    </p>
</section>

<section class="section">
    <h4 class="title">
        <em>5</em>
        平安生前契約
    </h4>
    <p>本公司以消費者立場出發，設計出全台灣最優質且實惠的『平安生前契約』。</p>
    <p>以儲蓄的概念達成臨終時的保障，不額外造成消費大眾的經濟負擔，提供完善、莊嚴的生命禮儀服務。</p>
    <p><a href="~/Content/images/Plan/Ritual_FuneralPlanning.pdf" class="btn" target="new">生前契約 (電子檔下載)</a></p>
</section>