
@{
    ViewBag.Title = "關於懷特博WTB";
    ViewBag.BodyClass = "AboutUs";
}

<h1 class="title"><span class="underline">@ViewBag.Title</span></h1>

<section class="wrap text-left row">

    <article class="col-7">
        <h3>公司介紹</h3>

        <p class="my-16">本公司前身為桃園中壢大發白黑板，以傳統白黑板的研發、生產、製造為主，近年因應公司業務範圍拓展，更名為<strong class="font-xl">懷特博實業有限公司WTB</strong>，公司主推白板貼系列產品，並與台灣穩得公司合作研發，更有效針對客戶需求做設計改良，研發出品質好。耐用度高之產品。並積極的為產品做認證SGS萬次擦寫耐久認證與歐盟EN71檢驗認證.。</p>
        <p class="my-16">我們秉持最專業及誠信負責的態度來服務每一位客戶，從原料製程、成品製程、產品製程，皆有專人監督，品質有保障，直接銷售服務更迅速，我們將生產成本外節省的所有費用反映在價格上直接回饋給您，因為我們相信您不只是客戶更是永遠的朋友</p>

        @* <h4>懷特博實業有限公司 (原大發白黑板)</h4>
        <p class="my-16">本公司成立至今已三十餘年，初期以大型黑白板的研發、生產與製造為主。近年來為因應公司業務範圍的拓展，更名為懷特博實業有限公司，專業白黑板及配件、文具用品製造商。主要銷售對象為學校及各單位機關，業務範圍涵括學校的黑白板的維修、保養各式標示牌、辦公事務用品、補教用品…等等，更有針對特殊規格的設計，做到為您的公司真正量身訂作的服務。    　</p>
        <p class="my-16">本公司一向秉持最專業及誠信負責的態度來服務每一位客戶，從原料製程、成品製程、產品製程，皆有專人監督，品質有保障，直接銷售服務更迅速，我們將生產成本外節省的所有費用反映在價格上直接回饋給您，因為我們相信您不只是客戶更是永遠的朋友。</p> *@
    </article>

    <article class="col-5">
        <h3>營業項目</h3>
        <ul class="text-list">
            <li>磁性白板、黑板</li>
            <li>木框系列白黑板</li>
            <li>玻璃白板</li>
            <li>美式簡報架</li>
            <li>H型迴轉架、A型斜放架</li>
            <li>公佈欄/玻璃櫥窗式公佈欄</li>
            <li>客製化表格白板</li>
            <li>白板貼</li>
            <li>磁吸軟白板</li>
            <li>居家塗鴉牆系列產品</li>

            @* <li>白板、黑板</li>
            <li>木框系列白黑板、公布欄、告示板等…</li>
            <li>各式玻璃白板施工</li>
            <li>室內、外 玻璃櫥窗公布欄</li>
            <li>H型旋轉架、A型斜放架</li>
            <li>各式攜帶型 白板黑板 簡報架</li>
            <li>磁鐵、磁條、板擦各式文教用品等…..</li>
            <li>講桌、講台</li>
            <li>佛堂專用木框上下拉黑板</li>
            <li>各式OA辦公家具 屏風、主管桌等……</li> *@
        </ul>
    </article>

</section>