
@{
    ViewBag.Title = "聯絡我們";
    ViewBag.BodyClass = "ContactUs";
}

<h1 class="title"><span class="underline">@ViewBag.Title</span></h1>

<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3617.0019266671884!2d121.21614751550969!3d24.96604908400428!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3468223318911a19%3A0x281e63f85038e967!2z5aSn55m855m96buR5p2_6KGMIFdUQueZveadv-iyvA!5e0!3m2!1szh-TW!2stw!4v1506915969346" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<ol class="wrap list-inline font-lg mt-16">
    <li class="mx-12"><small class="mr-4 text-secondary">地址</small> 桃園市中壢區環北路76號</li>
    <li class="mx-12"><small class="mr-4 text-secondary">電話</small> (03) 492-0137</li>
    <li class="mx-12"><small class="mr-4 text-secondary">傳真</small> (03) 491-2777</li>
    <li class="mx-12"><small class="mr-4 text-secondary">E-mail</small> <a href="mailto:wtb4920137@gmail.com">wtb4920137@gmail.com</a></li>
    <li class="mx-12"><small class="mr-4 text-secondary">LINE ID</small> @@ksd9686r</li>
</ol>