@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "WELCOME";
    ViewBag.IsFirstPage = true;
}

<section class="s-about wrap">
    <h3 class="title">關於儀禮科技</h3>
    <p>儀禮科技致力於提升服務水準，注入溫馨、體貼與感性的理念，讓人生最後一場謝幕以莊嚴善待死亡，以消費者的立場為出發點，設計規劃出溫馨且莊嚴的生命告別儀式。</p>
    <p><a href="~/AboutUs" class="btn">公司簡介</a></p>
</section>

<section class="s-plan">
    <div class="wrap">
        <h3 class="title">平安，讓您心安</h3>
        <p>本公司以消費者立場出發，設計出全台灣最優質且實惠的『<strong class="text-secondary">平安生前契約</strong>』。以儲蓄的概念達成臨終時的保障，不額外造成消費大眾的經濟負擔，提供完善、莊嚴的生命禮儀服務。</p>
        <p>節省不必要花費，規劃簡明、莊嚴、完善之告別禮儀，避免親人在悲慟之餘忍受繁雜禮儀事務的二次傷害。</p>
        <p><a href="~/Plan" class="btn">了解詳情</a></p>
    </div>
    <aside>
        <img src="~/Content/images/Index/pic1.jpg" alt="">
    </aside>
</section>

<section class="s-service wrap">
    <h3 class="sr-only">服務項目/公開資訊/全台服務團隊</h3>
    <div class="row row-x0">
        <article class="col-sm-4">
            <a class="thumbnail" href="~/Services">
                <img src="~/Content/images/Index/pic2.jpg" alt="">
            </a>
            <h4>服務項目</h4>
        </article>
        <article class="col-sm-4">
            <a class="thumbnail" href="~/Public">
                <img src="~/Content/images/Index/pic3.jpg" alt="">
            </a>
            <h4>公開資訊</h4>
        </article>
        <article class="col-sm-4">
            <a class="thumbnail" href="~/Flow">
                <img src="~/Content/images/Index/pic4.jpg" alt="">
            </a>
            <h4>服務流程圖</h4>
        </article>
    </div>
</section>