@using OutWeb.Models.Manage.AgentModels
@model AgentDataModel
@{
            Layout = "~/Views/Shared/_MLayout.cshtml";
            ViewBag.Crumb = "代理商管理";
            ViewBag.subnav = "Agents";
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li>@ViewBag.Crumb</li>
    </ul>
}

<h3 class="title">@ViewBag.Crumb <small class="oi" data-glyph="tags">編輯</small></h3>
@using (Html.BeginForm("Agents", "_SysAdm", FormMethod.Post, new { id = "formManageAgent", @class = "form-list" }))
{
    <div class="alert-warning mb-16">
        <strong>編輯器注意事項:</strong><br>
        從 WORD 複製文字時，請使用下方的 <img src="/Content/images/icon-word.jpg" /> 圖示來貼上 WORD 文字，避免跑版<br />
        編輯器上傳圖片或新增表格等時，請勿設定寬度及高度(將數字刪除) ，以免行動裝置顯示時會跑版。<br />
        檔案尺寸寬度超過 1600 或 高度超過1200 的圖片會被壓縮(PNG透明背景會變成不透明)
    </div>
                <textarea rows="18" name="contenttext">@Model.Content</textarea>
                <footer class="submit-bar clear mt-24">
                    <button type="submit" class="btn success oi" data-glyph="circle-check">
                        確認儲存
                    </button>
                </footer>
}
<script>
    (function ($) {
        $(function () {
            CKFinder.setupCKEditor(null, { basePath: '/ckfinder/', skin: 'v1' });
            CKEDITOR.replace('contenttext');
        })
    })(jQuery);
</script>