@using OutWeb.Models.Manage.ProductModels
@model ProductDetailsDataModel
@{
    Layout = "~/Views/Shared/_MLayout.cshtml";
    ViewBag.Crumb = "產品資料維護";
    ViewBag.subnav = "Products";
    ViewBag.subnav2 = "Product";
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li>產品管理 &#10095;</li>
        <li>@ViewBag.Crumb</li>
    </ul>
}

<h3 class="title">@ViewBag.Crumb <small class="oi" data-glyph="tags">編輯</small></h3>
@using (Html.BeginForm("ProductDataEdit", "_SysAdm", FormMethod.Post, new { id = "formManageProductData", @class = "form-list",@enctype = "multipart/form-data" }))
{
    Html.RenderPartial("_ProductDataPartial", Model);
}