@using OutWeb.Models.Manage.ProductModels
@model ProductDetailsDataModel
@using OutWeb.Repositories
@{
    ViewBag.Crumb = "保健食品管理";
    ViewBag.subnav = "Products";
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li>@ViewBag.Crumb</li>
    </ul>
}

<h3 class="title">@ViewBag.Crumb <small class="oi" data-glyph="tags">新增</small></h3>

@using (Html.BeginForm("ProductsAdd", "_SysAdm", FormMethod.Post, new { id = "formManageProductsData", @class = "form-list" }))
{
    Html.RenderPartial("_ProductsDataPartial", Model);
}

