@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyClass = "ContactUs";
    ViewBag.Title = "聯絡我們";
    ViewBag.TitleEn = "Contact Us";
    ViewBag.Breadcrumb = ViewBag.Title;
}

<h3 class="title">
    @ViewBag.Title
    <span>@ViewBag.TitleEn</span>
</h3>

<div class="row row-x0">
    <div class="col-md-5">
        <iframe class="map thumbnail" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3615.79819807044!2d121.20144011544659!3d25.00697224552746!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34682112f5d4a727%3A0xc771cc88c35dc3c1!2zMzIw5qGD5ZyS5biC5Lit5aOi5Y2A5rC46IO96LevNDfomZ8x!5e0!3m2!1szh-TW!2stw!4v1575260066449!5m2!1szh-TW!2stw" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
    <div class="col-md-7">
        <h4 class="title">
            儀禮科技
            <span>Ritual Technology</span>
        </h4>
        <ul class="list-unstyled list-underline">
            <li><strong>地址：</strong>320 桃園市中壢區永能路47號1樓</li>
            <li><strong>電話：</strong>(03) 287-2855</li>
            <li><strong>傳真：</strong>(03) 287-2811</li>
            <li>
                <strong>Email：</strong>
                <a href="mailto:1zlife.corp@gmail.com">1zlife.corp@gmail.com</a>
            </li>
        </ul>
    </div>
</div>