@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyClass = "Trust";
    ViewBag.Title = "合法信託查詢";
    ViewBag.TitleEn = "Trust";
    ViewBag.Breadcrumb = ViewBag.Title;
}

<h3 class="title">
    @ViewBag.Title
    <span>@ViewBag.TitleEn</span>
</h3>

<section class="section">
    <h4 class="title">
        <em>1</em>
        本公司合法信託，保護消費者權益
    </h4>
    <p>殯葬管理條例第四十九條規定，關於生前契約部分，「其有預先收取費用者，應將費用百分之七十五，依信託本旨交付信託業管理」；第五十二條規定，殯葬禮儀服務業者若破產、依法解散、遭勒令停業逾六個月以上、停業期滿逾三個月未申請復業等，須退還費用給已簽生前契約且尚未履行完畢的消費者。</p>
</section>

<section class="section row row-x0">
    <div class="col-md-8 col-sm-7">
        <h4 class="title">
            <em>2</em>
            本公司信託委任日盛商業銀行管理
        </h4>
        <ul class="list-unstyled list-underline">
            <li>受託銀行名稱：日盛國際商業銀行股份有限公司</li>
            <li>受託銀行電話：02-2562-9398</li>
            <li>受託銀行地址：台北市中山區南京東路二段85號9樓</li>
            <li>
                <a href="https://netbank.jihsunbank.com.tw/ContractInq/UserTransInquire.asp" class="btn" target="new">
                    查詢網址 (另開新視窗)
                </a>
            </li>
        </ul>
        <p><a href="~/Content/images/Public/Trust-106.pdf" class="btn" target="new">銀行信託合約書 (電子檔下載)</a></p>
    </div>
    <aside class="col-md-4 col-sm-5">
        <img src="~/Content/images/Trust/pic1.jpg" alt="" class="thumbnail">
    </aside>
</section>

<section class="section row row-x0">
    <h4 class="title">
        <em>3</em>
        銀行信託合約書
    </h4>
    <p><a href="~/Content/images/Public/Trust-106.pdf" class="btn" target="new">電子檔下載</a></p>
</section>